html
  body
      h3 인증을 완료하기 위해 해당 링크를 클릭해주세요.
      a(href=`${url}/api/auth/verify-email/before-register?id=${id}&token=${verifyToken}`) #{url}/api/auth/verify-email/before-register?id=#{id}&token=#{verifyToken}

